In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('FINAL.csv')

In [3]:
df.columns

Index(['match_id', 'innings', 'Unnamed: 2', 'season', 'start_date', 'venue',
       'ball', 'batting_team', 'bowling_team', 'striker', 'non_striker',
       'bowler', 'runs_off_bat', 'extras', 'wides', 'noballs', 'byes',
       'legbyes', 'penalty', 'wicket_type', 'player_dismissed',
       'other_wicket_type', 'other_player_dismissed', 'bowler_type',
       'Total_runs', 'Extraballs', 'over_type', 'number_of_wicket',
       'number_of_dotballs', 'Batting_type'],
      dtype='object')

In [4]:
df['isOne'] = df['runs_off_bat'].apply(lambda x: 1 if x == 1 else 0)
df['isTwo'] = df['runs_off_bat'].apply(lambda x: 1 if x == 2 else 0)
df['isThree'] = df['runs_off_bat'].apply(lambda x: 1 if x == 3 else 0)
df['isFour'] = df['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
df['isSix'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)
df['Boundary'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 or x==4 else 0)

In [5]:
df['wicket_type']=df['wicket_type'].fillna(0)
for index,row in enumerate(df['wicket_type']):
    if row=='obstructing the field' or row=='retired hurt' or row=='run out' or row==0:
        df.loc[index,'wicket']=0
    else:
        df.loc[index,'wicket']=1

In [6]:
df=df[(df.innings==1)|(df.innings==2)]

In [7]:
df.head()

,match_id,innings,Unnamed: 2,season,start_date,venue,ball,batting_team,bowling_team,striker,...,number_of_wicket,number_of_dotballs,Batting_type,isOne,isTwo,isThree,isFour,isSix,Boundary,wicket
0,335982,1,0,2008,2008-04-18,Chinnaswamy Stadium(Banglore),0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,...,1.0,0.0,Left_hand_batsman,0,0,0,0,0,0,0.0
1,335982,1,112,2008,2008-04-18,Chinnaswamy Stadium(Banglore),0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,...,1.0,1.0,Right_hand_batsman,0,0,0,0,0,0,0.0
2,335982,1,143,2008,2008-04-18,Chinnaswamy Stadium(Banglore),0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,...,1.0,0.0,Right_hand_batsman,0,0,0,0,0,0,0.0
3,335982,1,144,2008,2008-04-18,Chinnaswamy Stadium(Banglore),0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,...,1.0,1.0,Right_hand_batsman,0,0,0,0,0,0,0.0
4,335982,1,145,2008,2008-04-18,Chinnaswamy Stadium(Banglore),0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,...,1.0,1.0,Right_hand_batsman,0,0,0,0,0,0,0.0

In [8]:
df2=df.groupby(['striker']).filter(lambda x: len(x['match_id'].unique())>20)

In [9]:
df2['striker'].unique()

array(['SC Ganguly', 'BB McCullum', 'DJ Hussey', 'R Dravid', 'V Kohli',
       'JH Kallis', 'CL White', 'MV Boucher', 'P Kumar', 'Z Khan',
       'PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina',
       'S Badrinath', 'KC Sangakkara', 'Yuvraj Singh', 'IK Pathan',
       'YK Pathan', 'SR Watson', 'M Kaif', 'RA Jadeja', 'SK Warne',
       'G Gambhir', 'V Sehwag', 'S Dhawan', 'ST Jayasuriya', 'RV Uthappa',
       'AM Nayar', 'Harbhajan Singh', 'LRPL Taylor', 'AC Gilchrist',
       'Y Venugopal Rao', 'A Symonds', 'RG Sharma', 'RP Singh', 'WP Saha',
       'LR Shukla', 'DPMD Jayawardene', 'PP Chawla', 'DJ Bravo',
       'GC Smith', 'SS Tiwary', 'R Vinay Kumar', 'AM Rahane', 'MK Tiwary',
       'KD Karthik', 'R Bhatia', 'B Chipli', 'DW Steyn', 'DB Das',
       'MK Pandey', 'HH Gibbs', 'SE Marsh', 'BJ Hodge', 'JA Morkel',
       'AB de Villiers', 'DB Ravi Teja', 'SP Goswami', 'SR Tendulkar',
       'TM Dilshan', 'A Mishra', 'DR Smith', 'JP Duminy', 'JD Ryder',
       'KP Pietersen', 'RS Bopara', 'CH Gayle', 'MC Henriques',
       'KV Sharma', 'PC Valthaty', 'M Manhas', 'TL Suman', 'NV Ojha',
       'M Vijay', 'DA Warner', 'RJ Harris', 'AD Mathews', 'J Botha',
       'GJ Bailey', 'R Ashwin', 'CA Pujara', 'OA Shah', 'AP Tare',
       'AT Rayudu', 'R Sathish', 'MS Bisla', 'EJG Morgan', 'KA Pollard',
       'UT Yadav', 'Mandeep Singh', 'KM Jadhav', 'AJ Finch', 'STR Binny',
       'DT Christian', 'MA Agarwal', 'AL Menaria', 'Shakib Al Hasan',
       'NLTC Perera', 'RN ten Doeschate', 'B Kumar', 'F du Plessis',
       'GJ Maxwell', 'SPD Smith', 'SA Yadav', 'JP Faulkner', 'SP Narine',
       'DA Miller', 'Azhar Mahmood', 'P Negi', 'A Ashish Reddy',
       'Gurkeerat Singh', 'AD Russell', 'CA Lynn', 'KK Nair', 'GH Vihari',
       'M Vohra', 'Mohammed Shami', 'CH Morris', 'SV Samson', 'KL Rahul',
       'Q de Kock', 'MG Johnson', 'MM Sharma', 'Sandeep Sharma',
       'CJ Anderson', 'AR Patel', 'LMP Simmons', 'R Tewatia', 'SS Iyer',
       'DJ Hooda', 'KS Williamson', 'HH Pandya', 'SN Khan', 'PJ Cummins',
       'JC Buttler', 'MP Stoinis', 'Ishan Kishan', 'KH Pandya', 'RR Pant',
       'N Rana', 'BA Stokes', 'RA Tripathi', 'V Shankar', 'Rashid Khan',
       'C de Grandhomme', 'Washington Sundar', 'Shubman Gill',
       'JC Archer', 'PP Shaw', 'MM Ali', 'SO Hetmyer', 'JM Bairstow',
       'N Pooran', 'SM Curran', 'D Padikkal'], dtype=object)

# Batsman against different bowling types and in different stages

In [10]:
######  Enter the name of the batsman from above list   ##########

batter_name=input('Enter the batsmans name: ')
df1=df[df['striker']==batter_name]
df_bowlertype=df1.groupby(['bowler_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum','Boundary':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_faced','wicket':'dismissed'},axis=1)
df_bowlertype['Average']=df_bowlertype['Runs_scored']/df_bowlertype['dismissed']
df_bowlertype['Strike rate']=(df_bowlertype['Runs_scored']/df_bowlertype['Balls_faced'])*100
df_bowlertype['Dot ball percentage']=((df_bowlertype['number_of_dotballs']/df_bowlertype['Balls_faced'])*100).round()
df_bowlertype['Boundary Percentage']=((df_bowlertype['Boundary']/df_bowlertype['Balls_faced'])*100).round()
df_bowlertype=df_bowlertype.drop(['number_of_dotballs','Boundary'],axis=1)

display(df_bowlertype)

df_overtype=df1[df1['innings']==1]
df_overtype=df_overtype.groupby(['over_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum','isFour':'sum','isSix':'sum','Boundary':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_faced','wicket':'dismissed','isFour':"Fours",'isSix':'Sixes'},axis=1)
df_overtype['Average']=df_overtype['Runs_scored']/df_overtype['dismissed']
df_overtype['Strike rate']=(df_overtype['Runs_scored']/df_overtype['Balls_faced'])*100
df_overtype['Dot ball percentage']=((df_overtype['number_of_dotballs']/df_overtype['Balls_faced'])*100).round()
df_overtype['Boundary Percentage']=((df_overtype['Boundary']/df_overtype['Balls_faced'])*100).round()
df_overtype['Balls per boundary']=((df_overtype['Balls_faced']/df_overtype['Boundary']))

df_rpi=df1[df1['innings']==1]
df_rpi1=df_rpi['runs_off_bat'].sum()/df_rpi['match_id'].nunique()
#display(Runs per innings(first_innins),df_rpi1)
df_overtype1=df_overtype.drop(['number_of_dotballs','Boundary'],axis=1)
print('\t\t\t\t'+batter_name+' First Innings')
display(df_overtype1)


df_overtype=df1[df1['innings']==2]
df_overtype=df_overtype.groupby(['over_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum','isFour':'sum','isSix':'sum','Boundary':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_faced','wicket':'dismissed','isFour':"Fours",'isSix':'Sixes'},axis=1)
df_overtype['Average']=df_overtype['Runs_scored']/df_overtype['dismissed']
df_overtype['Strike rate']=(df_overtype['Runs_scored']/df_overtype['Balls_faced'])*100
df_overtype['Dot ball percentage']=((df_overtype['number_of_dotballs']/df_overtype['Balls_faced'])*100).round()
df_overtype['Boundary percentage']=((df_overtype['Boundary']/df_overtype['Balls_faced'])*100).round()
df_overtype['Balls per boundary']=((df_overtype['Balls_faced']/df_overtype['Boundary']))
df_overtype2=df_overtype.drop(['number_of_dotballs','Boundary'],axis=1)

df_rpi=df1[df1['innings']==2]
df_rpi2=df_rpi['runs_off_bat'].sum()/df_rpi['match_id'].nunique()

print('\t\t\t\t'+batter_name+' Second Innings')
display(df_overtype2)

print("\nRuns per innings(1st innings)",df_rpi1.round())
print("\nRuns per innings(2nd innings)",df_rpi2.round())

Enter the batsmans name: V Kohli

,bowler_type,Runs_scored,Balls_faced,dismissed,Average,Strike rate,Dot ball percentage,Boundary Percentage
0,Left_arm_fast,98,85,4.0,24.500000,115.294118,33.0,13.0
1,Left_arm_legspin,102,68,1.0,102.000000,150.000000,22.0,16.0
2,Left_arm_medium,124,90,4.0,31.000000,137.777778,30.0,16.0
3,Left_arm_medium_fast,568,444,23.0,24.695652,127.927928,35.0,18.0
4,Left_arm_offspin,693,607,12.0,57.750000,114.168040,29.0,10.0
5,Right_arm_fast,764,572,19.0,40.210526,133.566434,32.0,18.0
6,Right_arm_legspin,897,646,16.0,56.062500,138.854489,28.0,15.0
7,Right_arm_medium,1134,881,31.0,36.580645,128.717367,33.0,17.0
8,Right_arm_medium_fast,1065,847,32.0,33.281250,125.737898,35.0,16.0
9,Right_arm_offspin,631,535,12.0,52.583333,117.943925,31.0,13.0

				V Kohli First Innings

,over_type,Runs_scored,Balls_faced,dismissed,Fours,Sixes,Average,Strike rate,Dot ball percentage,Boundary Percentage,Balls per boundary
0,Death overs,646,307,23.0,40,47,28.086957,210.423453,16.0,28.0,3.528736
1,Middle overs,1665,1384,35.0,108,50,47.571429,120.303468,26.0,11.0,8.759494
2,PowerPlay,897,837,24.0,113,15,37.375000,107.168459,43.0,15.0,6.539062

				V Kohli Second Innings

,over_type,Runs_scored,Balls_faced,dismissed,Fours,Sixes,Average,Strike rate,Dot ball percentage,Boundary percentage,Balls per boundary
0,Death overs,323,185,9.0,30,16,35.888889,174.594595,24.0,25.0,4.021739
1,Middle overs,1620,1273,41.0,118,57,39.512195,127.258445,29.0,14.0,7.274286
2,PowerPlay,925,789,22.0,116,21,42.045455,117.237009,43.0,17.0,5.759124

Runs per innings(1st innings) 34.0

Runs per innings(2nd innings) 30.0

In [11]:
df2=df.groupby(['bowler']).filter(lambda x: len(x['match_id'].unique())>20)
df2['bowler'].unique()

array(['P Kumar', 'Z Khan', 'JH Kallis', 'AB Dinda', 'I Sharma',
       'AB Agarkar', 'LR Shukla', 'B Lee', 'S Sreesanth', 'IK Pathan',
       'PP Chawla', 'MS Gony', 'M Muralitharan', 'R Bhatia', 'DL Vettori',
       'MM Patel', 'SR Watson', 'SK Trivedi', 'SK Warne', 'YK Pathan',
       'R Vinay Kumar', 'A Nehra', 'DS Kulkarni', 'ST Jayasuriya',
       'Harbhajan Singh', 'M Kartik', 'DJ Hussey', 'RP Singh',
       'A Symonds', 'PP Ojha', 'DJ Bravo', 'A Kumble', 'Yuvraj Singh',
       'DW Steyn', 'JA Morkel', 'V Kohli', 'PJ Sangwan', 'SK Raina',
       'L Balaji', 'DR Smith', 'A Mishra', 'Iqbal Abdulla', 'RR Powar',
       'RA Jadeja', 'TM Dilshan', 'RG Sharma', 'SL Malinga', 'DP Nannes',
       'Harmeet Singh', 'CH Gayle', 'MC Henriques', 'Anureet Singh',
       'RE van der Merwe', 'JP Duminy', 'SB Jakati', 'RJ Harris',
       'A Singh', 'M Morkel', 'AD Mathews', 'J Botha', 'R Ashwin',
       'SW Tait', 'Bipul Sharma', 'KA Pollard', 'UT Yadav', 'R Sharma',
       'NLTC Perera', 'DE Bollinger', 'JD Unadkat', 'STR Binny',
       'TG Southee', 'DT Christian', 'WD Parnell', 'S Nadeem',
       'S Aravind', 'Shakib Al Hasan', 'VR Aaron', 'B Kumar',
       'JP Faulkner', 'GJ Maxwell', 'KK Cooper', 'HV Patel',
       'Ankit Sharma', 'SP Narine', 'GB Hogg', 'P Awana', 'AD Russell',
       'Azhar Mahmood', 'P Negi', 'MG Johnson', 'JJ Bumrah', 'AS Rajpoot',
       'Mohammed Shami', 'CH Morris', 'S Kaul', 'R Dhawan', 'MM Sharma',
       'KV Sharma', 'IC Pandey', 'Sandeep Sharma', 'YS Chahal',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'MA Starc',
       'AR Patel', 'R Tewatia', 'Imran Tahir', 'S Gopal', 'PJ Cummins',
       'TA Boult', 'DJ Hooda', 'MJ McClenaghan', 'HH Pandya', 'SN Thakur',
       'BB Sran', 'M Ashwin', 'MP Stoinis', 'Mustafizur Rahman',
       'Kuldeep Yadav', 'KH Pandya', 'CJ Jordan', 'DL Chahar',
       'Rashid Khan', 'BA Stokes', 'CR Woakes', 'T Natarajan',
       'RD Chahar', 'AJ Tye', 'Mohammed Siraj', 'K Rabada',
       'Washington Sundar', 'K Gowtham', 'JC Archer', 'M Prasidh Krishna',
       'MM Ali', 'KK Ahmed', 'NA Saini', 'SM Curran', 'CV Varun'],
      dtype=object)

# Bowlers against different batting types and in different stages

In [13]:
############# enter the bowler name from the above list

bowler_name=input('Enter the bowler name: ')
df2=df[df['bowler']==bowler_name]
df_bowler=df2.groupby(['Batting_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_bowled','wicket':'wickets'},axis=1)
df_bowler['bowling average']=df_bowler['Runs_scored']/df_bowler['wickets']
df_bowler['bowling strike-rate']=df_bowler['Balls_bowled']/df_bowler['wickets']
df_bowler['Dot ball percentage']=((df_bowler['number_of_dotballs']/df_bowler['Balls_bowled'])*100).round()

print('\n\t\t\t'+bowler_name+' against left hand and right hand batsman')
display(df_bowler)

df_overtype=df2[df2['innings']==1]
df_overtype=df_overtype.groupby(['over_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_bowled','wicket':'wickets'},axis=1)
df_overtype['bowling average']=df_overtype['Runs_scored']/df_overtype['wickets']
df_overtype['bowling strike-rate']=df_overtype['Balls_bowled']/df_overtype['wickets']
df_overtype['Dot ball percentage']=((df_overtype['number_of_dotballs']/df_overtype['Balls_bowled'])*100).round()
overs_bowled=[]
for i in df_overtype['Balls_bowled']:
    out1=i//6
    #print(str(out1))
    out2=i%6
    #print(out2)
    final=str(out1).split('.')[0]+'.'+str(out2).split('.')[0]
    overs_bowled.append(final)
df_overtype['overs_bowled']=overs_bowled
df_overtype['overs_bowled']=df_overtype['overs_bowled'].astype('float')
df_overtype['economy']=df_overtype['Runs_scored']/df_overtype['overs_bowled']

df_overtype1=df_overtype.drop(['Balls_bowled','number_of_dotballs'],axis=1)

print('\t\t\t\t'+bowler_name+' in First Innings')
display(df_overtype1)

df_overtype=df2[df2['innings']==2]
df_overtype=df_overtype.groupby(['over_type']).agg({'runs_off_bat':'sum','match_id':'count','wicket':'sum','number_of_dotballs':'sum'}).reset_index().rename({'runs_off_bat':'Runs_scored','match_id':'Balls_bowled','wicket':'wickets'},axis=1)
df_overtype['bowling average']=df_overtype['Runs_scored']/df_overtype['wickets']
df_overtype['bowling strike-rate']=df_overtype['Balls_bowled']/df_overtype['wickets']
df_overtype['Dot ball percentage']=((df_overtype['number_of_dotballs']/df_overtype['Balls_bowled'])*100).round()
overs_bowled=[]
for i in df_overtype['Balls_bowled']:
    out1=i//6
    #print(str(out1))
    out2=i%6
    #print(out2)
    final=str(out1).split('.')[0]+'.'+str(out2).split('.')[0]
    overs_bowled.append(final)
df_overtype['overs_bowled']=overs_bowled
df_overtype['overs_bowled']=df_overtype['overs_bowled'].astype('float')
df_overtype['economy']=df_overtype['Runs_scored']/df_overtype['overs_bowled']

df_overtype2=df_overtype.drop(['Balls_bowled','number_of_dotballs'],axis=1)
print('\t\t\t\t'+bowler_name+' in Second Innings')
display(df_overtype2)

Enter the bowler name: JJ Bumrah

			JJ Bumrah against left hand and right hand batsman

,Batting_type,Runs_scored,Balls_bowled,wickets,number_of_dotballs,bowling average,bowling strike-rate,Dot ball percentage
0,Left_hand_batsman,668,660,30.0,260.0,22.266667,22.000000,39.0
1,Right_hand_batsman,2027,1669,85.0,611.0,23.847059,19.635294,37.0

				JJ Bumrah in First Innings

,over_type,Runs_scored,wickets,bowling average,bowling strike-rate,Dot ball percentage,overs_bowled,economy
0,Death overs,674,24.0,28.083333,19.375000,23.0,77.3,8.719276
1,Middle overs,363,15.0,24.200000,20.600000,37.0,51.3,7.076023
2,PowerPlay,314,7.0,44.857143,47.428571,51.0,55.2,5.688406

				JJ Bumrah in Second Innings

,over_type,Runs_scored,wickets,bowling average,bowling strike-rate,Dot ball percentage,overs_bowled,economy
0,Death overs,563,33.0,17.060606,13.393939,32.0,73.4,7.670300
1,Middle overs,352,23.0,15.304348,16.000000,38.0,61.2,5.751634
2,PowerPlay,429,13.0,33.000000,31.769231,48.0,68.5,6.262774